<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/ejercicioD.css">
        <title>Ejercicio de Selectores</title>

    </head>
    <body>
        <div>
            <h1>Título</h1>
            <p>Párrafo dentro de div.</p>
        </div>
        <section>
            <p>Párrafo dentro de section.</p>
            <p>Segúndo Parrafo dentro el section</p>
        </section>
        <p>Párrafo hermano adyacente.</p>
        <p>Párrafo hermano general.</p>
    </body>
</html>
