<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejemplo de selectores</title>
    <link rel="stylesheet" href="../styles/Tarjetas.css" />
  </head>

  <body>
<section>
 
    <article>
      
      <div>
        <h1>Tarjeta 01</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam ratione modi, beatae obcaecati voluptates quibusdam eum repellat minus ipsa numquam ut assumenda, facilis deserunt officia, aliquid aperiam sunt eligendi.</p>
        <p>Trarjeta de colección</p>
      </div>

         <div>
        <h1>Tarjeta 02</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, ipsa magni amet maxime doloremque repellat optio aspernatur repudiandae commodi blanditiis fugiat saepe totam debitis nisi veritatis labore reiciendis voluptatem quisquam?</p>
        <p>Trarjeta de colección</p>
      </div>

    </article>
       <p>Tarjetas realizadas el año 1995 por: el autor</p>
       <p>Museo Nacional</p>
    </section>
  </body>
</html>
