
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

*{
    margin: 20px;
    padding: 20px;
    background-color: lightgray;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}
p{
color: red;}


.destacado{
    font-weight: bold;
    font-size: 21;
}



section > p{
    color: green;
    font-size: 40px;
    }

h1 +p{
    color: orange;
    font-size: 30px;
}

section ~ p{
    color: purple;
    font-size: 25px;
}