
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonbon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    box-sizing: border-box;
    background-color: lightgray;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}
p{
color: red;}


.destacado{
    font-weight: bold;
 
}


/*
section > p{
    color: green;
    font-size: 100px;
    font-family: "Bonbon", cursive;
    font-weight: 400;
    font-style: normal;
    }
*/



ul > a {
  background-color: yellow;
  font-family: "Bungee";
  text-decoration: none;
}

p ~ ul {
    font-size: 30px;
}

p + ul {
    background-color: skyblue;
}
